/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require style.css
 *= require responsive.css
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

.breadcrumb{
  margin-bottom:0px;
}
 .product-price {
 padding-top: 20px;
 padding-top: 20px;

 font-size: 30px;
 font-weight: bold;
 color: #ff007c;
 }

 .product-title > h5 {
 font-weight: bold;
 font-size: 20px;

 }
.product-title {
  text-align:center;
  color:black;
  border-top:2px solid black;
}
footer{
  border-top: 1px solid gray;
  padding-top: 10px;
}
.list-unstyled > li{
  margin-right: 10px;
  float:left;
  display:inline;
}
.list-unstyled > li > a {
  display:block;
  width:30px;
  height:30px;
  border-radius:100%;
  border:1px solid black;
  font-size:20px;
  color:black;
  position: relative;
  transition: background-color .6s;

}
.list-unstyled >li > a:hover{
  background-color: black;
}
.list-unstyled >li > a .fa {
position: absolute;
left:20%;
top: 17%;
transition: color .6s;
}
.list-unstyled >li > a:hover .fa{
  color:white;
}
.page{
  margin-top:20px;
}
body{
  padding-top:0px;
  padding-bottom: 0px;
}
select{
  height: 30px;
  width:200px;

}
.size >a{
  text-decoration: none;
  color: black;
  display:block;

}

.size{
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  margin-right: 10px;
  text-decoration: blink;
  color:black;
  background-color:#DDDDDD;
  float:left;
}

.size >a:hover{
  text-decoration: none;
}

.soldout >a:hover{
  text-decoration: none;
}

.selected{
border:1px solid black;
  text-decoration: none;
  color:black;
}
.soldout{
  color:gray;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  margin-right: 10px;
  text-decoration: blink;
  background-color:#DDDDDD;
  float:left;
}
.soldout >a{
  text-decoration: none;
  color: gray;
  display:block;
}

