      <!-- begin:logo -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="logo">
            <h1><a href="index.html">Clothe<span>shop</span> </a></h1>
            <p>Clean and simple shopping cart</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="account">
            <ul>
              <li id="your-account">
                <div class="hidden-xs">
                  <h4><a href="#">Your Account</a></h4>
                  <p>Welcome, <a href="login.html">log in</a></p>
                </div>
                <div class="visible-xs">
                  <a href="login.html" class="btn btn-primary"><i class="fa fa-user"></i></a>
                </div>
              </li>
              <li>
                <div class="hidden-xs">
                  <h4><a href="cart.html">Cart</a></h4>
                  <p><strong>3 Product(s)</strong></p>
                </div>
                <div class="visible-xs">
                  <a href="cart.html" class="btn btn-primary"><span class="cart-item">3</span> <i class="fa fa-shopping-cart"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end:logo -->

      <!-- begin:nav-menus -->
      <div class="row">
        <div class="col-md-12">
          <div class="nav-menus">
            <ul class="nav nav-pills">
              <li><%= link_to("首頁",products_path) %></li>
              <li class="active"><%= link_to("關於",about_products_path) %></li>
              <li><%= link_to("聯絡",contact_products_path) %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end:nav-menus -->

      <!-- begin:article -->



          <div class="row">
            <div class="col-md-12">
              <ol class="breadcrumb">
                <li><a href="#">最頂</a></li>
                <li class="active">關於</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                  <h2>關於我<small>Scorti</small></h2>
              </div>



              <h3>為什麼會有這個網站</h3>
              <p>這是我在學習Rails中做出來的購物網站，未來也會繼續增加新功能，提供更完善的購物服務</p>

              <h3></h3>
              <p></p>

            </div>
          </div>

