<footer>
<div class="row">
  <div class="col-md-4 pull-left">
    <p>Copyright ©2016 SENSHOP
      <br>Design by <a href="https://www.facebook.com/si.en.33" target=_new>Scorti</a>
    </p>
  </div>
  <div class="col-md-4">
    <ul class="list-unstyled pull-right">
      <li>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/si.en.33">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/item0932/">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>

